.main{
    margin: 1rem;
}
.grid-container{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    gap:1rem;
}
.computer hgroup{
    text-align: center;
    grid-row: 1;
    grid-column: 1 / span 4;
}
.card{
    grid-row: 2;
    display: flex;
    flex-direction: column;
    background-color: rgb(173, 164, 209);
    border: 2px solid rgb(185, 158, 215);
    border-radius:20px;
    position: relative;
    overflow: hidden; 
    padding: 0 1rem;
}
.card h3{
    margin: 0.5rem;
    text-align: center;
}

